<!-- <div class="collapse" id="collapsedept">
<div class="card card-block"> -->
<div class="row">
		<div class="control-label col-md-5"><b><%= f.label :email, "Enter Officer Email ID" %></b>
			</div>
<div class="col-md-7">
<%= f.email_field :email, required: true %>
</div>
</div>
<!-- </div>
</div> -->