<div class="col-sm-6">
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title"><%= scheme.name%></h5>
	    <p class="card-text"><%=scheme.guidelines%></p>
	    <a href="#" class="btn btn-primary">View Details</a>
	  </div>
	</div>
</div>