<div class="col-sm-12">
  <div class="card">
    <div class="container">
      <h4><div id="Tdesc"><%=ticket.description%><br><button type="button" class="btn btn-sm btn-primary pull-right" id="status_btn"><%=status_message(ticket.status)%><span class="badge"></span></button></div>
        </h4>
      <div id="view_conv_hist"><p><%=link_to "View Conversation History", ticket_messages_path(ticket)%></p></div>
    </div>
  </div> 
</div>
  
