/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.new_user{
	background-color: #b6cee2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;
	width:30% 
}
.sign_form{
	display: flex;
	/*background-color: #b6cee2;*/
	align-items: center;
	justify-content: space-around;
	/*width:30%;*/
	/*padding: 30px;*/
	
	margin-top: 4%;
	/*margin-left:25%;*/
	/*width: 30%*/
	/*min-height:800px;*/
}
.navbar{
  /*overflow: hidden;*/
  background-color: #ddd;
  position: fixed;
  top: 0;
  width: 100%;
}
.top_img {
  width: 100%;
 /* overflow-x: hidden !important;*/
 margin-top: 1.5%
}
footer{
	background-color: #284177;
	padding: 10px;
}
.write {
  border: 1px solid white;
  padding:5px;
  color: white;
}
.writer{
	text-align: right;
}
.connect{
	color:white;
}
.icons{
	color: white;
	border:1px solid white;
	padding:5px;
}
ul#footer-menu li {
  display: inline;
  padding: 0 10px 5px 5px;

}

ul#footer-menu li a {
  color: #cfcfcf;
  font-size: 15px;
}
.copyright {
  background: #262889;

  padding: 1%;
  box-sizing: border-box;
}
.control-label{
	color:#333e93;
}
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@import "bootstrap";
