/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.new_user{
	background-color: #b6cee2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;
	width:30% 
}
.sign_form{
	display: flex;
	/*background-color: #b6cee2;*/
	align-items: center;
	justify-content: space-around;
	/*width:30%;*/
	/*padding: 30px;*/
	
	margin-top: 4%;
	/*margin-left:25%;*/
	/*width: 30%*/
	/*min-height:800px;*/
}
.navbar{
  /*overflow: hidden;*/
  background-color: #ddd;
  position: fixed;
  top: 0;
  width: 100%;
}
.top_img {
  width: 100%;
 /* overflow-x: hidden !important;*/
 margin-top: 1.5%
}
footer{
	background-color: #284177;
	padding: 10px;
}
.write {
  border: 1px solid white;
  padding:5px;
  color: white;
}
.writer{
	text-align: right;
}
.connect{
	color:white;
}
.icons{
	color: white;
	border:1px solid white;
	padding:5px;
}
ul#footer-menu li {
  display: inline;
  padding: 0 10px 5px 5px;

}

ul#footer-menu li a {
  color: #cfcfcf;
  font-size: 15px;
}
.copyright {
  background: #262889;

  padding: 1%;
  box-sizing: border-box;
}
.control-label{
	color:#333e93;
}
.switch6 {  max-width: 10em;  margin: 0 auto; }
.switch6-light > span, .switch-toggle > span {  color: #000000; }
.switch6-light span span, .switch6-light label, .switch-toggle span span, .switch-toggle label {  color: #2b2b2b; }

.switch-toggle a, .switch6-light span span { display: none; }

.switch6-light { display: block; height: 20px; position: relative; overflow: visible; padding: 0px; margin:0px; }
.switch6-light * { box-sizing: border-box; }
.switch6-light a { display: block; transition: all 0.3s ease-out 0s; }

.switch6-light label, 
.switch6-light > span { line-height: 20px; vertical-align: middle;}

.switch6-light label {font-weight: 700; margin-bottom: px; max-width: 100%;}

.switch6-light input:focus ~ a, .switch6-light input:focus + label { outline: 1px dotted rgb(136, 136, 136); }
.switch6-light input { position: absolute; opacity: 0; z-index: 5; }
.switch6-light input:checked ~ a { right: 0%; }
.switch6-light > span { position: absolute; left: -100px; width: 100%; margin: 0px; padding-right: 100px; text-align: left; }
.switch6-light > span span { position: absolute; top: 0px; left: 0px; z-index: 5; display: block; width: 50%; margin-left: 100px; text-align: center; }
.switch6-light > span span:last-child { left: 50%; }
.switch6-light a { position: absolute; right: 50%; top: 0px; z-index: 4; display: block; width: 50%; height: 100%; padding: 0px; }

@import "bootstrap";
.navbar1 {
  overflow: hidden;
  background-color: #ddd;
  position: fixed;
  top: 0;
  width: 100%;
}

.top_img {
  width: 100%;
  overflow-x: hidden !important;
}

.nav_button
{
	color: white;
}

.nav_button:hover
{
	text-decoration: none;
	color: white;
}


.dash {
  list-style-type: none;
  overflow: hidden;
  background-color: #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 2px 10px;
  border: none;
  border-radius: 4px;
}

#user-details img {;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

#li_dash {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  box-sizing: border-box;
}

#li_dash:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn-danger{
	    margin-top: 10px;
	    margin-right: 10px;

}


#li_log {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
      margin-top: 10px;
  box-sizing: border-box;
}