/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body
 {
 	padding-top: 100px;
 }
.new_user{
	background-color: #b6cee2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;
	width:30% 
}
.sign_form{
	display: flex;
	/*background-color: #b6cee2;*/
	align-items: center;
	justify-content: space-around;
	/*width:30%;*/
	/*padding: 30px;*/
	
	margin: 30px;
	/*margin-left:25%;*/
	/*width: 30%*/
	/*min-height:800px;*/
}


footer{
	background-color: #284177;
	padding: 10px;
}
.write {
  border: 1px solid white;
  padding:5px;
  color: white;
}
.writer{
	text-align: right;
}
.connect{
	color:white;
}
.icons{
	color: white;
	border:1px solid white;
	padding:5px;
}
ul#footer-menu li {
  display: inline;
  padding: 0 10px 5px 5px;

}

ul#footer-menu li a {
  color: #cfcfcf;
  font-size: 15px;
}
.copyright {
  background: #262889;

  padding: 1%;
  box-sizing: border-box;
}
.control-label{
	color:#333e93;
}

@import "bootstrap";
.navbar1 {
  overflow: hidden;
  background-color: #ddd;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.top_img {
  width: 100%;
  overflow-x: hidden !important;
}

.nav_button
{
	color: white;
}

.nav_button:hover
{
	text-decoration: none;
	color: white;
}


.dash {
  list-style-type: none;
  overflow: hidden;
  background-color: #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 2px 10px;
  border: none;
  border-radius: 4px;
}

#user-details img {;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

#li_dash {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  box-sizing: border-box;
}

#li_dash:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn-danger{
	    margin-top: 10px;
	    margin-right: 10px;
}


#li_log {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
      margin-top: 10px;
  box-sizing: border-box;
}
.ministry_card{
	text-align: center;
	padding: 15px;
}
.ministry_list{
	background-color: #ddd;
	width:20%;
	margin: 0px auto;
}
.ministry_name:hover{
	color:red;
	text-decoration:none;
}
.add_ministry{
	margin: 0px auto;
}
.department_list{
	background-color: #ddd;
	width:60%;
	margin: 0px auto;
	padding:35px;
}
.department_list a:hover{
	color: red;
	text-decoration:none;
}

.add_dept{
	background-color: #ddd;
}